<p>
<%= @user.name %>'s favourite movies:
<ul>
  <% @movies.each do |like| %>
  <li><%= like.name %></li>
  <% end %>
</ul>
</p>

<p>
<%= @user.name %>'s favourite TV shows:
<ul>
  <% @tvshows.each do |like| %>
  <li><%= like.name %></li>
  <% end %>
</ul>
</p>
